<%- include('../partials/header.ejs') %>

<% icecream.forEach(function (cream) { %>
    <h3 <%- cream.available === true ? 'class="available"' : 'class="unavailable"' %>><%= cream.flavor %></h3>
    <a href="/icecream/<%=cream.id%>">View Details</a>
<% }) %>

<%- include('../partials/footer.ejs') %>